@model IEnumerable<SpaceCat.Macka>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImeVlasnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImeMacke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drzava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DobMacke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZdravaMacka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odabrana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OdabranaRanije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VjerovatnocaOdabira)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kompetentna)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImeVlasnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImeMacke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DobMacke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZdravaMacka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odabrana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdabranaRanije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VjerovatnocaOdabira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kompetentna)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
