@model IEnumerable<SpaceCat.Novost>

    @{
    ViewData["Title"] = "Index";
    }

    <style>
        body {
            color: snow;
            background-image: url("https://i.ibb.co/h10jKh0/novapoz.png");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #bijelitekst {
            color: snow;
        }

        #naslov {
            background-color: #043240;
        }

        #tekst {
            background-color: #1f4c64;
        }

        #opcije {
            background-color: #043240;
        }

        #naziv {
            text-align: center;
        }

        #dodaj:link, #e:link, #del:link, #det:link, #e:visited, #del:visited, #det:visited, #dodaj:visited {
            color: white;
            text-decoration: none;
        }

        #dodaj:hover, #e:hover, #del:hover, #det:hover {
            color: cadetblue;
            text-decoration: none;
        }

        #tekst_dodaj {
            text-align: center;
        }
    </style>
    <h1 id="naziv">Novosti</h1>

    <p id="tekst_dodaj">
        <a id="dodaj" asp-action="Create">Dodaj novost</a>
    </p>
    <table class="table" id="bijelitekst">

        <tbody>
        
            @foreach (var item in Model)
        {
        <tr id="naslov">
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
        </tr>
        <tr id="tekst">
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td id="opcije">
                <a id="e" asp-action="Edit" asp-route-id="@item.ID">Uredi</a> |
                <a id="det" asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                <a id="del" asp-action="Delete" asp-route-id="@item.ID">Obrisi</a>
            </td>
        </tr>
    }
            
            </tbody>
        </table>
